.header{
    height: 100vh;
    background-image: url(images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.header__top{
    padding-top: 50px;
}
.navbar-light .navbar-nav .nav-link, .header__btn button{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.navbar-light .navbar-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    max-width: 200px;
}
.navbar-light .navbar-text span{
    padding-left: 30px;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    position: relative;
}
.navbar-light .navbar-text span::before{
    content: '';
    background-image: url(images/phone.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    left: -5px;
    top: -5px;
}
.nav-link img{
    width: 20px;
    height: 17px;
}
.header__btn button{
    outline: none;
    width: 157px;
    height: 47px;
    background: #FF7400;
}
.navbar-collapse {
    column-gap: 30px;
}
.navbar-text{
    padding-left: 30px;
    border-left: 1px solid  #FFFFFF;
}
.header__main_inner{
    padding-top: 200px;
}
.header__main_inner h1{
    font-family: 'Tinos', sans-serif;
    font-size: 50px;
    line-height: 57px;
    color: #D67E35;
    text-align: center;
}
.header__main_inner h1 span{
    display: block;
    font-size: 80px;
    line-height: 92px;
}
.header__main_inner h3{
    font-family: 'Open Sans',  sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    margin: 12px 0 21px;
    position: relative;
}
.header__main_inner h3::before, .header__main_inner h3::after{
    content: "";
    display: block;
    width: 61px;
    height: 2px;
    background-color: #fff;
    position: absolute;
}
.header__main_inner h3::before{
    top: 12px;
    left: 160px;
}
.header__main_inner h3::after{
    bottom: 11px;
    right: 161px;
}
.main__btn{
    text-align: center;
}
.benefits{
    height: 370px;
    background-color: #ffffff;
}
.benefits__inner{
    max-width: 1138px;
    margin: 0 auto;
}
.benefits__item{
    height: 328px;
    background-color: #ffffff;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -107px;
}
.benefits__item img{
    margin-top: 35px;
    width: 126px;
    height: 104px;
}
.benefits__item h4{
    font-size: 26px;
    line-height: 30px;
    color: #2c2c2c;
    margin-bottom: 20px;
}
.benefits__item span{
    color: #bc9060;
}
.benefits__item p{
    padding: 5px;
    font-size: 26px;
    line-height: 30px;
    color: #656363;
}